<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Example App</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <script type="text/x-handlebars" data-template-name="application">
    <div class="container">
      <header class="main-header">
        <nav class="navbar navbar-inverse">
          <ul class="nav navbar-nav">
            <li>{{#link-to 'clients'}}Home/Logo{{/link-to}}</li>
          </ul>
        </nav>
      </header>
      <div class="row">
        {{outlet}}
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="clients">
    <div class="col-md-2">
      <div class="btn-group-vertical">
      {{#each client in model}}
        {{#link-to 'client' client._id class='btn btn-primary'}}{{client.name}}{{/link-to}}
      {{/each}}
      </div>
    </div>
    {{outlet}}
  </script>

  <script type="text/x-handlebars" data-template-name="client">
    <div class="col-md-2">
      <div class="btn-group-vertical">
      {{#each project in model}}
        {{#link-to 'project.locales' project._id class='btn btn-primary'}}{{project.name}}{{/link-to}}
      {{/each}}
      </div>
    </div>
    {{outlet}}
  </script>

  <script type="text/x-handlebars" data-template-name="project">
    {{outlet}}
  </script>
  <script type="text/x-handlebars" data-template-name="project/locales">
    <div class="col-md-8">

      <ul class="list-unstyled">
        {{#each translatedKeys}}
          <li>
            <a class="btn btn-primary">{{name}}</a>
          </li>
        {{/each}}
      </ul>      
    </div>
  </script>

  <script src="/js/dest/vendors.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/routes.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/models.js"></script>
</body>
</html>
