<div class="container">
  <header class="main-header">
    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'clients'}}BB Gloss{{/link-to}}</li>
      </ul>
    </nav>
  </header>
  <div class="row">
    {{outlet}}
  </div>
</div>