<div class="col-md-2">
  <h3>Select Project</h3>
  <div class="btn-group-vertical">
  {{#each project in model}}
    {{#link-to 'keys' project._id class='btn btn-primary'}}{{project.name}}{{/link-to}}
  {{/each}}
  </div>
</div>
{{outlet}}