<div class="col-md-8">

  <ul class="list-unstyled">
    {{#each translatedKeys}}
      <li>
        <a href="#">{{name}}</a>
        <ul class="list-unstyled">
          {{#each item in keys}}
          <li>
            {{item.key}}
          </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>      
</div>