@import "nib";
@import "bootstrap";

.translations {
  label {
    display: inline-block;
    width: 10rem;
    margin-right: .5rem;
  }
  input {
    width: 30rem;
    background: none;
    border: none;
    &:focus {
      border: 2px inset #EBE9ED;
      background: white;
    }
  }
}